body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}



.list {
    list-style: none;
}
/*ul {
    list-style: none;
}*/

/*a {
    text-decoration: none;
}*/

/*-------------header-nav--------------*/

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
     
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #000000;
}    

.site-nav a {
    text-decoration: none;
}

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;;
}
.site-nav .link:active {
    color: #000000;
}

.header-nav-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575
}

.header-nav-mail:hover {
    color: #2196F3;
}
.header-nav-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575
}

/*.header-nav-link:focus {
    color: #2196F3;;
}



/*-----------------------Header--------------------*/







.auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}
.header-nav-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}


/*---------------Тези для бізнесу---------------*/


/*--------------Чим ми зайцмаємось--------------*/



/*---------------Наша команда---------------*/


/*---------------Footer-------------------*/

.footer {
    background-color:#2F303A;
}



.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #ffffff;
    
}



